<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Noah">
  <meta name="description" content="Online breakout game">
  <title>Breakout</title>
  <style><%- css.style %></style>
</head>
<body>
  <canvas width="480" height="320"></canvas>
  <script><%- js.app %></script>
</body>
</html>